.woman {
  float: right;
}

.image {
  width: 1300px;
}
body {
  background-color: #dddddd;
}

.menu {
  float: left;
  width: 530px;
  height: 1590px;
}

h1 {
  margin-top: 500px;
  text-align: left;
  font-family: Italiana;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 0.3ex;
  color: #777777;
  padding: 20px;
  margin-bottom: 10px;
}

.boxes {
  float: left;
  font-family: Italiana;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0.3ex;
  color: #666666;
  text-align: center;
  padding: 4px;
  width: 130px;
  border-width: 3px;
  border-style: solid;
  border-top-color: #dddddd;
  border-left-color: #dddddd;
  border-bottom-color: #dddddd;
  border-right-color: #777777
}

.walloftext {
  float: left;
  margin-left: 20px;
  margin-right: 190px;
  margin-top: 30px;
  font-weight: bold;
  font-family: Pavanam;
  font-size: 20px;
  color: #bbbbbb;
}

button:hover {
  color: white;
  background-color: transparent;
  background-color: #cccccc;
}

span {
  margin-left: 10px;
}